<html>
<head>
<title> Signup page </title>
</head>
<body bgcolor="lightgreen">
<br><br><br><br>
<center>
<font size = 7 color="red" >
F!ll Your Profile
</font>
</center>
<br><br>
<form  action="/home/registration/sign_up/form" name="f1" enctype="multipart/form-data" method="post" >
    {% csrf_token %}
<table align="center">
<tr>
<td>First Name</td>
<td><input type="text" name="t1" size=20></td>
</tr>
<tr>
<td>Last name</td>
<td><input type="text" name="t2" size=20></td>
</tr>
<tr>
<td>Roll No.</td>
<td><input type="number" name="t3" maxlength="6"></td>
</tr>
<tr>
<td>Branch</td>
<td><select name="c1" >
<option>----select----
<option>Computer Scinece & Engineering
<option>Infomation Technology
<option>Electronics Engineering
<option>Electrical Engineering
<option>Mechanical Engineering
<option>Civil Engineering
</td>
</tr>
<tr>
<td>Profile Photo</td>
<td><input type="file"  name="photo"> </td>
</tr>
<tr>
<td colspan=2 align="center">
    <input type="submit" name="b1" value="register"></td>
</tr>
</table>
</form>
</body>
</html>